body {
    background-color: #00F6ED;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
}

.title {
    font-size: 4em;
    border-bottom: 3px;
    border-color: black;
    border-bottom-style: solid;
    width: 100%;
    margin-top: 15px;
    padding-left: 10px;
    margin-bottom: 5px;
}

.columns {
    float: left;
    padding: 10px;
}

.columns.left {
    width: 70%;
}

.columns.right {
    width: 25%;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}

.image {
    float: left;
    height: 350px;
    width: 350px;
    border-radius: 50%;
    padding: 10px;
    shape-outside: circle();
}

.image2 {
    float: left;
    height: 100px;
    width: 100px;
    border-radius: 50%;
    shape-outside: circle();
    margin-top: 5px;
    margin-left: 5px;
}

.image3 {
    min-width: 35%;
    margin: 15px;
}

.spacing {
    line-height: 2.3em;
    font-size: 1.5em;
}

.firstB {
    float: left;
    background-color: #CAD8DE;
    margin-left: 10px;
    min-width: 12%;
    text-align: center;
}

.secondB {
    background-color: #FA7E7E;
    margin-left: 5px;
    min-width: 12%;
    text-align: center;
}

.title2 {
    font-size: 2.5em;
    text-align: center;
}

.desTitle {
    margin-top: 15px;
}

.desTitle2 {
    font-size: 1.2em;
    margin-top: 5px;
}

.descriptionP {
    font-size: 1em;
}

.backgroundContainer {
    background-color: #D9D9D9;
    margin: 20px;
}
